/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: #f9f9f9;
}

/* Header Styles */
header {
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    position: relative
}

.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;

}

.header-content img {
    margin-left: 10px;
    height: 40%;
}

.header-content i {
    font-size: 22px;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
    gap: 20px;
    margin-right: 10px;
}

/* Hero Section Styles */
.home-section {
    width: 100%;
    height: calc(100vh - 60px); /* Adjust for header height */
    background: url('imgs/ff_mob_heroImg.webp') no-repeat center top/cover;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    position: relative;
    padding-bottom: 20%; 
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 15px;
}

.icon {
    background: #000;
    color: #fff;
    width: 45px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    border: #fff 2px solid;
    transition: transform 0.3s ease, background 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
    background: #333;
}

.icon a {
    color: #fff;
    font-size: 18px;
}

/* WhatsApp Catalogue Button */
.whatsapp-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #000;
    padding: 12px 60px;
    border-radius: 12px;
    font-weight: 600;
    transition: background 0.3s ease;
    font-size: 16px;
    border: #fff 2px solid;
    position: relative;
}
 .click {
    font-size: x-large;
    position: absolute;
    color: #ffffff;
    top: 40%;
    right: 5%;
    transform: translate(-50%, -50%);  
    rotate: 340deg;  
 }


.whatsapp-button a{
    color: #fff;
    text-decoration: none;
}

.whatsapp-button:hover {
    background: #111;
}

/* Animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.delay-4 {
    animation-delay: 2s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 600px) {
    .whatsapp-button {
        font-size: 14px;
        text-transform: uppercase;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .icon a {
        font-size: 16px;
    }
}